:root {
    --body-background-color: #2b88f0;
    --tags-background-color: #f0932b;
    --tags-highlight-color:#273c75;
  }
  
  body {
    background-color: var(--body-background-color);
    margin: 0;
    padding: 0;
  }
  
  .container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  p {
    color: #fff;
    font-size: 22px;
    word-spacing: 5px;
  }
  
  textarea {
    font-size: 18px;
    border: none;
    border-radius: 5px;
    width: 50%;
    margin: 0,2rem,2rem,2rem;
    padding: 10px;
  }
  
  textarea:focus {
    outline: none;
  }
  .tags{
    width: 50%;
    margin: 1rem;
    padding: 1rem;
    min-height: 10%;
    overflow: auto;
  }
  .tag{
    color: white;
    background-color: var(--tags-background-color);
    padding: 8px;
    margin: 10px;
    font-size: 18px;
    border-radius: 15px;
  }
  .tag.highlight{
    background-color: var(--tags-highlight-color);
  }