body{
    margin: 0;
    display: flex;
    color: #222;
    background-color: #333;
    overflow-x: hidden  ;
}
.container{
    background-color: #fafafa;
    padding: 4rem;
    transform-origin: top left;
    transition: transform 0.5s linear;
}
.container.show
{
    transform: rotate(-20deg);
}
.image{
    width:100%;
    height: 30%;
}
.circle-container{
    position: fixed;
    top: -100px;
    left: -100px;
}
.circle{
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color:#ff7979;
    transition: transfrom 0.5s linear;
}
.circle button{
    position: absolute;
    top: 67.5%;
    background: none;
    outline: none;
    font-size: 24px;
    color: white;
    border: 0;
    cursor: pointer;
}
.circle .button-open{
    left: 60%;
}
.circle .button-close{
    left: 20%;
    /* transform: rotate(90deg);
    transform-origin: top left ; */
}
/* .container.show .button-open{
    left:0%
}
.container.show .button-close{
    left:60%
} */
.container.show .circle{
    transform: rotate(-70deg);
}
nav{
    position: fixed;
    z-index: -1;
    bottom: 40px;
}
nav ul{
    list-style: none;
}
nav ul li{
    margin: 0.5rem;
    color: white;
}
.list-childs{
    margin: 5px;
    cursor: pointer;
}
nav ul li a{
    color: white;
    text-decoration: none;
    
}
nav ul li i{
    font-size: 24px;
}